* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 4.5vw, 1.3rem);
    background-color: black;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, 4.5vw, 3rem);
}

h2 {
    font-size: clamp(0.8rem, 4.5vw, 2rem);
}

/* Navigation Section */
#navbar {
    width: 100vw;
    height: 60px;
    background-color: rgb(15, 15, 15);
    position: fixed;
}

/* Hero Section */
#hero {
    padding-top: 15px;
    width: 100vw;
    height: 20vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    #hero {
        height: 100vh;
    }

    #hero1 {
        text-align: left;
    }

    #hero2 {
        text-align: right;
    }
}

#hero strong {
    text-align: center;
    font-size: clamp(3rem, 10vw, 8rem);
}

/* About Section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-portrait {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}

#about-grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 35vh 35vh;
}

.about-text {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    text-align: center;
    justify-self: center;
}

#biography {
    width: clamp(500px, 70vw, 1000px);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 30px 0;
}

#biography div {
    width: 30vw;
}

#portrait {
    width: auto;
    max-width: clamp(100px, 60vw, 350px);
    margin-bottom: 15px;
}

@media only screen and (max-width: 1000px) {

    #biography {
        flex-direction: column;
    }

    #biography div {
        width: 70vw;
    }

    #about-portrait {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

    #about-grid {
        display: grid;
        grid-template-columns: 30vw;
        grid-template-rows: 30vh;
    }

    .about-text {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        text-align: center;
        justify-self: center;
    }

}

/* Projects Section */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact p {
    width: 80vw;
    text-align: center;
    margin-top: 30px;
}

#contact img {
    width: 50px;
}

#contact-buttons {
    width: clamp(100px, 80vw, 400px);
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

/* Footer Section */
footer {
    width: 100vw;
    height: 40px;
    background-color: black;
    color: rgb(80, 80, 80);
    background-color: rgb(5, 5, 5);
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
}

footer span {
    color: #ff7b00;
}


/* Misc */
.line {
    width: 100vw;
    height: 5px;
    background-color: rgb(15, 15, 15);
    margin: 20px 0;
}

.accent-mark {
    width: clamp(20px, 80vw, 150px);
    height: 3px;
    margin: 10px 0;
    background-color: white;
}

.gradient {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    background: linear-gradient(-45deg, #fcf813, #ffab0f, #ff9100, #ff7b00, #ff9100, #ffab0f, #fcf813);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Animations */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}   
}